// COLORS
$background-color: #2E2E2F;
$text-main-color: #ffffff;
$heading-text-color: #F7C441;
$elements-main-color: #ffc93b;
$border-main-color: #B88400;
$card-background-color: rgba(184, 132, 0, 0.75);

// Fonts
$logo-font-family: 'Days One', sans-serif;
$main-text-font-family: 'Montserrat', sans-serif;
$headings-font-family: 'Montserrat Alternates', sans-serif;
