@import '../../../styles/mixins';
@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@100;200;400;500;700&display=swap');

body {
    overflow: hidden;
}

@media (width < 421px) {
    body {
        overflow: scroll;
    }
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: black;

    main .background-image {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;

        // background-image: url('../../../../public/images/home_page_background_image_копия.png');
        // background-size: cover;
        // background-attachment: fixed;
        // background-position-x: 5px;


        object-fit: cover;
        mask-image: linear-gradient(270deg,black 20%, transparent);
    }
    @media (width < 421px) {
        main .background-image {
            object-position: -315px;
            mask-image: linear-gradient(180deg,black -40%, transparent);
        }
    }


    main .content {
        position: relative;
        z-index: 2;

        width: 100%;
        height: 100%;
        padding: 28px 100px;

        .heading {
            width: 770px;
            margin-bottom: 48px;

            font-family: $headings-font-family;
            color: $heading-text-color;
            font-weight: bold;
            font-size: 56px;
            line-height: normal;
            -webkit-text-stroke: 2px $border-main-color;
            text-transform: uppercase;
        }
        
        .info {
            width: 700px;

            margin-bottom: 48px;

            font-family: $main-text-font-family;
            color: $text-main-color;
            font-weight: 400;
            font-size: 22px;
        }

        .to-exc-btn {
            background-color: $elements-main-color;
            border-radius: 0px 24px 24px 0px;

            width: 220px;
            height: 60px;

            @include displayFlexByDirection(row);
            justify-content: space-between;
            
            padding: 12px 18px 12px 24px;

            font-family: $main-text-font-family;
            font-weight: bold;
            font-size: 20px;
            color: #fff;

            transition: .2s linear;
            .arrow-icon {
                width: 11px;
            }

            cursor: pointer;
            &:hover {
                width: 230px;
            }
        }
    }

    @media (width < 421px) {
        main {
            width: 100%;
            height: 100%;

            padding: 0px 36px 0px 36px;

            .content {
                width: 100%;
                padding: 0;
                height: 100%;
                
            }
        }
    }
}
